My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -100,
        640
      ],
      "id": "cb95f0c0-8d0f-4333-85e5-291ab2cfe1a3",
      "name": "Telegram Trigger1",
      "webhookId": "c0eee8d7-a6cd-42b5-8ea9-47c43e79c2ec",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "lVMowN2iFePluext",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ead608af-7a53-4330-a679-6a5df4bd5ad8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        660
      ],
      "id": "9b0b5275-316f-4c12-9a10-23f85c12a29d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "suravi810@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"it is the id of the specific event\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"end\",\"it is the meeting date ending time\") }}",
          "start": "={{ $fromAI(\"Start\",\"it is the meeting date starting time\") }}",
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1060,
        940
      ],
      "id": "71ee11be-9b88-4328-9db8-985f4324df65",
      "name": "Update calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ybQuMVeim1NieWas",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a new calendar event.",
        "calendar": {
          "__rl": true,
          "value": "suravi810@gmail.com",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"Start\",\"it is the meeting date starting time\") }}",
        "end": "={{ $fromAI(\"end\",\"it is the meeting date ending time\") }}",
        "additionalFields": {
          "summary": "={{ $fromAI(\"eventName\",\"the name of the calendar event\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        680,
        1100
      ],
      "id": "4aa6c710-c017-4f68-8017-a6e127942e2f",
      "name": "Create event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ybQuMVeim1NieWas",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "suravi810@gmail.com",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"Event_ID\",\"it is the id of the specific event\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        820,
        1100
      ],
      "id": "8981b39a-aac5-4966-a083-eb877615abe3",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ybQuMVeim1NieWas",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "suravi810@gmail.com",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ $now.plus({ week: 4 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        940,
        1020
      ],
      "id": "a0efb708-5130-4c4b-aea4-b220f6b5b1ba",
      "name": "GetAll events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ybQuMVeim1NieWas",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "502e50b6-9903-44c0-9a0d-a3bc772eae71",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "442d61ad-3a99-4d7a-93cf-753a7c877460",
                    "leftValue": "={{ $json.message.text || \"\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        640
      ],
      "id": "a028bc8b-783c-4769-8c32-bae74c2d1447",
      "name": "Text or Audio"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.update_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        1020
      ],
      "id": "3b60168d-444e-4b4a-be3a-2e362a0a251e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant and answer in the language that the person talks to you. The current date is{{ $now }}\n\nYou use the LLM when nothing is asked about the calendar. When asked to create an event, use the create event tool. When an event has to be deleted, use the delete tool. When asked about an event or a specific date, use the get tool. When something needs to be updated, use the update tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        620,
        660
      ],
      "id": "8c9c2a4e-515f-4ef0-be94-09e1fc658ff8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        660
      ],
      "id": "b9aba643-1307-442e-b67a-207b36c768d7",
      "name": "Telegram",
      "webhookId": "c7f74669-a664-4c32-8579-efa03d86ff4e",
      "credentials": {
        "telegramApi": {
          "id": "lVMowN2iFePluext",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        940
      ],
      "id": "5999d3c3-9476-4c67-83cc-14ed1466f2d3",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "8ank8Riwcy1ATdf5",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Text or Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GetAll events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Text or Audio": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "40deb73f-df24-45b0-ad67-437f10c86ee2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32d4f2cc4f3d3d795b407cf7e049264b7f6fc359dde4f5ece4f28940f68b059e"
  },
  "id": "JFuiI9MlaNYmt5eg",
  "tags": [
    {
      "createdAt": "2025-04-30T13:14:39.375Z",
      "updatedAt": "2025-04-30T13:14:39.375Z",
      "id": "HKVQHcEPGCl8bbju",
      "name": "Calendar"
    },
    {
      "createdAt": "2025-04-30T13:14:39.346Z",
      "updatedAt": "2025-04-30T13:14:39.346Z",
      "id": "Kox1u9DdigCGV3kl",
      "name": "Micro Assistants"
    }
  ]
}